* 
{
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1360px;
    width: 100%;
    height: 100%;
    padding:0 15px;
    margin: 0 auto;
}

/* ---------Header start--------- */
.header {
    width: 100%;
    position: absolute;      
    top: 0;         
    left: 0:
}

.header__logo {
    display: flex;
}

.header__logo-link {
    display: flex;
    text-decoration: none;
}

.header__logo-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color:white;
}

.header__logo-text span{
    color: #28A745;
}

.header__wraper {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-item {
    padding-right: 38px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: regular;
    transition: .3s;
}

.header__nav-item:last-child {
    padding-right: 0px;
}

.header__nav-item:hover {
    color:#28A745;
}

.header__nav-item:focus {
    color:#28A745;
}
/* ---------Header finish--------- */
/* -----------HeaderLow start------------ */
.intro {
    background-image: url(/img/bg-header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: ;
    height: 770px;
}
.container 
{
}
.intro__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 768px;
}

.intro__block {

}


.intro__title {
    color: white;
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 25px;
    
}
.intro__suptitle {
    color: white;
    font-weight: 300;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
}
.intro__button {
    display: flex;
    justify-content: center;
}
.intro__btn {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-color:#28A745;
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
}

.intro__btn:hover {
    background-color:#1e7b34;
}

.intro__btn:active {
    background-color:#3d8fa5;
}
    
.intro__btn:focus {
    background-color:#1e7b34;

}

/* -----------HeaderLow finish------------ */

/* --------------TOP start-------------- */

.top__blocks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.top__block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 362px;
    

}
.top__image {
    margin-bottom: 15px;
    background-color: #28A745;
    width: 67px;
    height: 67px;
    border-radius: 50px;
    position: relative;
}
.top__img {
    position: absolute;
    top: 15px;
    left: 17px;
}
.top__block-title {
    align-items: center;
    font-size: 20px;
    line-height: 33px;
    text-decoration: none;
}
.block__suptitle {

    text-align: center;
}

.top__title-block {
    margin-bottom: 15px;
}




/* --------------TOP finish-------------- */









